<div class="container">
<p id="notice"><%= notice %></p>

<h1>Blog</h1>

<% @posts.each do |post| %>
  <div class="thumbnail">
    <div class="caption">
      <h3><%= post.title %> <small><%= post.created_at.strftime "%a. %b %d, %Y" %></small></h3>
      <p><%= post.body %></p>
      <p>
        <%= link_to 'Show', post, class: "btn btn-primary" %>
        <%= link_to 'Edit', edit_post_path(post), class: "btn btn-default" %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </p>
    </div>
  </div>
<% end %>

<br>

<%= link_to 'New Post', new_post_path %>
</div>