<!DOCTYPE html>
<html>
<head>
  <title>Developmount</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body onscroll="scrollListener()">

<%= render 'layouts/navbar' %>

<%= yield %>

<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<h4>Contact Us</h4>
				<p>support@developmount.com</p>
				<p>PO Box 1431 Eagle River, WI</p>
				<p>(715) 307 - 7746</p>
			</div>
			<div class="col-sm-4">
				<h4>Contact Us</h4>
				<p>support@developmount.com</p>
				<p>PO Box 1431 Eagle River, WI</p>
				<p>(715) 307 - 7746</p>
			</div>
			<div class="col-sm-4">
				<h4>Follow Us</h4>
				<p><%= link_to "Facebook", projects_path %></p>
				<p><%= link_to "Twitter", projects_path %></p>
				<p><%= link_to "Instagram", projects_path %></p>
				<p><%= link_to "Google+", projects_path %></p>
			</div>
		</div>
	</div>
</footer>

</body>
</html>
